<!-- product -->
<!-- name -->
<div class="bgrow mpcustom ">
    <div class="h-[46px] bg-white mb-2">
        <h4 class="text-center uppercase md:p-[20px] text-black mb-[20px] border-b-4 max-sm:text-[15px] max-sm:p-3">
            sản phẩm dành cho bạn
        </h4>
    </div>
    <div>
        <!-- product -->
        <div class="md:max-w-[1380px] max-sm:max-w-[360px] flex-wrap flex">
            <div class="hover:translate-y-[-1px] pb-2 md:mb-[15px] max-sm:w-[179px] md:mr-[7.71px]">
                <div class="bg-white hover:border-red-500 transition ease-in-out delay-50 duration-50 border-1 md:w-[188px] max-sm:max-w-[180px]">
                    <a href="#" class="text-black text-decoration-none">
                        <img src="image/product.png" alt="" srcset=""
                             class="max-sm:max-w-[176px] md:max-w-[186px] md:max-h-[160px] md:w-[186px]">
                        <div class="pt-2 pl-2">
                            <h6 class="overflow-hidden line-clamp-2 text-ellipsis max-w-[155px]" title="">
                                Nuoc hoa
                                nam bla bla bla bla bla bla bla bla bla bla bla
                            </h6>
                            <div class="position-relative pt-[35px]">
                                <span>187500</span>
                                <span style="margin-left: 46px; font-size: 12px;">Da ban 111</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- xem them -->
        <div></div>
    </div>
</div>