<div class="bg-[#ffff] container-fluid ">
    <div class="row">
        <!-- banner main -->
        <div class="col-lg-8 max-sm:h-[110px]">
            <div class="carousel slide md:pt-[30px] md:pl-[70px] md:pb-[30px] max-sm:w-[360px] max-sm:h-[120px] max-sm:ml-[-12px]"
                 id="carouselslide" data-bs-ride="carousel">
                <ol class="carousel-indicators pb-lg-3 pl-[160px] max-sm:hidden">
                    <li>
                        <button type="button" data-bs-target="#carouselslide" data-bs-slide-to="0"
                                class="active"></button>
                    </li>
                    <li>
                        <button type="button" data-bs-target="#carouselslide" data-bs-slide-to="1"></button>
                    </li>
                    <li>
                        <button type="button" data-bs-target="#carouselslide" data-bs-slide-to="2"></button>
                    </li>
                </ol>
                <div class="transition-[transform 0.8s ease-in-out] carousel-inner h-[101px] ">
                    <div class="carousel-item active">
                        <img src="image/banner.png" class="w-full h-full" alt="" srcset="">
                    </div>
                    <div class="carousel-item">
                        <img src="image/banner2.png" class="w-full h-full" alt="" srcset="">
                    </div>
                    <div class="carousel-item">
                        <img src="image/banner3.png" class="w-full h-full" alt="" srcset="">
                    </div>
                    <button class="carousel-control-prev max-sm:hidden" type="button"
                            data-bs-target="#carouselslide" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </button>
                    <button class="carousel-control-next max-sm:hidden" type="button"
                            data-bs-target="#carouselslide" data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </button>
                </div>
            </div>
        </div>
        <!-- banner phu -->
        <div class="col-lg-4 max-sm:hidden">
            <div class="pt-[30px] pr-[55px]">
                <div class="relative mb-[5px] overflow-hidden product-banner-offer ">
                    <img src="image/banner.png" class="h-[115px] w-full" />
                </div>
                <div class="relative mb-2 overflow-hidden product-banner-offer ">
                    <img src="image/banner2.png" class="h-[115px] w-full" />
                </div>
            </div>
        </div>
    </div>
</div>