<div class="md:pt-[20px] pb-[10px] bgrow mpcustom ">
    <div class="bg-white">
        <!-- name -->
        <div class="md:pl-[20px] md:pt-[15px]">
            <h5>
                <span class="max-sm:text-[15px] text-pink-400 uppercase">Danh mục</span>
            </h5>
        </div>
        <!-- category -->
        <div class="swiper-container">
            <div class="pt-[5px] flex swiper-wrapper">
                <div class="swiper-slide flex-shrink-0 pt-[15px] border-2 hover:shadow-[1px_0px_2px_0px_#999] max-sm:h-[185px] max-sm:max-w-[100px] max-sm:max-h-[200px] md:w-[145px] md:h-[180px] max-sm:w-[100px] md:max-w-[145px]">
                    <a href="#" class="text-black text-decoration-none ">
                        <div class="md:pb-[13px] md:pl-[20px]">
                            <img src="image/shirtcategory.png" alt=""
                                 class="md:w-[107px] md:h-[107px] max-sm:w-[107px] max-sm:h-[107px] rounded-full object-cover ">
                        </div>
                        <div class="text-center">
                            <h6 class="pl-[4px]">Thời trang</h6>
                            <small>100 sản phẩm</small>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>