<div class="bg-[#cba8d0] container-fluid">
    <div class="row">
        <div class="col-lg-3">
            LHT
        </div>
        <div class="col-lg-3">
            0762956806
        </div>
        <div class="col-lg-3">
            luonghoantrongct2004@gmail.com
        </div>
        <div class="col-lg-3">
            Can tho
        </div>
    </div>
</div>