<header class="sticky-top z-[100] ">
    <div class="bg-fuchsia-200 container-fluid max-sm:hidden">
        <!-- top -->
        <div class="row">
            <!-- bla bla -->
            <div class="col-lg-6">
                <div class="ml-[200px]">
                    +84 0762956806
                </div>
            </div>
            <!-- info -->
            <div class="col-lg-6">
                <ul class="flex justify-end px-10 pr-[200px]">
                    <li class="mr-4">Thông báo</li>
                    <li class="mr-4">Hỗ trợ</li>
                    <li class="mr-4">Đăng kí</li>
                    <li>Đăng nhập</li>
                </ul>
            </div>
        </div>
        <!-- bottom -->
        <div class="row">
            <!-- logo -->
            <div class="text-center col-lg-3">
                <img src="image/bg.png" class="w-16 pb-6 ml-[260px]" />
            </div>
            <!-- search -->
            <div class="col-lg-7">
                <form action="">
                    <input type="search" name="" id="" placeholder="Tim kiem" class="h-10 w-[810px]">
                </form>
                <!-- bottom search -->
                <div>
                    <ul class="flex ml-[-30px] pt-[5px] text-[12px] font-semibold">
                        <li class="pr-[5px]">Quan tay</li>
                        <li class="pr-[5px]">Giay jodan</li>
                        <li class="pr-[5px]">Mu cao boi</li>
                        <li class="pr-[5px]">Sung conan</li>
                        <li>Dep to ong </li>
                    </ul>
                </div>
            </div>
            <!-- cart -->
            <div class="col-lg-2">
                <i class="fas fa-shopping-cart"></i>
            </div>
        </div>
    </div>
    <div class="bg-white lg:hidden">
        <nav class="max-h-full nav-item">
            <div class="flex justify-between">
                <div>
                    <a href="">
                        <i class="p-2 text-pink-400 fas fa-arrow-left text-[25px] "></i>
                    </a>
                </div>
                <div class="p-2 max-w-[200px] mr-20">
                    <h5 class="overflow-hidden line-clamp-1 text-ellipsis" title="">
                        Nuoc hoa
                        nam bla bla bla bla bla bla bla bla bla bla bla
                    </h5>
                </div>
                <div class="p-2">
                    <i class="text-pink-500 fas fa-shopping-cart"></i>
                </div>
            </div>
        </nav>
    </div>
</header>